@import 'bootstrap/scss/bootstrap';
@import './actiontext.scss';

body {
    background-color: #EDE3D5 !important;
}

footer {
    min-height: 50px;
}

.navigation-background {
    background-color: #563D7C;
}

.app {
    min-height: 900px;
}

@mixin notices {
    border-radius: 2px;
    color: white;
}

.alert {
    @include notices;
}

.notice {
    @include notices;

    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}